/bootstrap/compiled.php
/vendor
app/config/local/database.php
public/userimages/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

.idea/.name

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/emotional.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/sqldialects.xml

.idea/vcs.xml

.idea/workspace.xml
